.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;

  &__links {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style-type: none;
  }
}
